html, body{ 
 margin:0; 
 padding:0; 
 text-align:center; 
} 
 
/*
the content block in the center of a webpage.
*/
#pagewidth{ 
 width:700px; 
 min-width: 700px;
 margin-left:auto; 
 margin-right:auto;  
 text-align: center;
} 
 

#header{
 position:relative; 
 height:50px; 
 width:100%;
} 

#maincol{
   float: left; 
   display:inline; 
   position: relative; 
   width:80%;
   text-align: left;
}
 
#rightcol{
   width:20%; 
   float:right; 
   position:relative; 
   text-align: left;
}
 
#contentfooter {
}


 
#headerPagename {
   /*
   background-color: yellow;
   */
}

#headerLinks {
   text-align: right;
   /*
   background-color: yellow;
   */
}
#headerLogo {
   /*
   background-color: yellow;
   */
}

#footer{
   text-align: right;
} 

.clearer {
   clear: both;
} 
 

 
