html, body{ 
 margin:0; 
 padding:0; 
 text-align:center; 
} 
 
/*
the content block in the center of a webpage.
*/
#pagewidth{ 
 width:700px; 
 min-width: 700px;
 text-align:left;  
 margin-left:auto; 
 margin-right:auto;  
} 
 

#header{
 position:relative; 
 height:50px; 
 width:100%;
} 

#maincol{
   float: left; 
   display:inline; 
   position: relative; 
   width:80%;
}
 
#rightcol{
   width:20%; 
   float:right; 
   position:relative; 
}
 


 
#headerPagename {
   /*
   background-color: yellow;
   */
}

#headerLinks {
   /*
   background-color: yellow;
   */
}
#headerLogo {
   /*
   background-color: yellow;
   */
}

#footer{
   height:100px; 
   clear:both;
} 
 
 

 
