. "${ODABA_ETC_DIR}/odaba-script.rc"

ODABA_COMPILER_OPTIONS="${ODABA_COMPILER_OPTIONS} -m64"
ODABA_COMPILER_OPTIONS_DEBUG="${ODABA_COMPILER_OPTIONS_DEBUG} -m64"
ODABA_LINKER_OPTIONS="${ODABA_LINKER_OPTIONS} -m64"
ODABA_LINKER_OPTIONS_DEBUG="${ODABA_LINKER_OPTIONS_DEBUG} -m64"
