/*Some other dokuwiki specific settings*/
a.fn_top {
  vertical-align: super;
  font-size: 80%;
}

div.fn {
   background-color: inherit;
   color: grey;
   font-size: x-small;
   margin-left: 0.5em;
}


/* ================================= Class: Small, grey list================================= */
.smallGreyListText,
.smallGreyListText 
.smallGreyListText 
.smallGreyListText div.li,
.smallGreyListText ul,
.smallGreyListText ul li,
.smallGreyListText ul li a,
.smallGreyListText .level1 .li,
.smallGreyListText div.secedit2 a {
   background-color: inherit;
   color: grey;
   font-size: x-small;
   margin-left: 0.5em;
}



/* =====================edit form =========================*/
div.dokuwiki div.toolbar,
div.dokuwiki div#wiki__editbar {
   background-color: black;
   margin: 2px 0;
   text-align: left;
}
div.dokuwiki div#size__ctl {
   float: right;
   width: 60px;
   height: 2.7em;
}
div.dokuwiki #size__ctl img {
   cursor: pointer;
}
div.dokuwiki div#wiki__editbar div.editButtons {
   float: left;
   padding: 0 1.0em 0.7em 0;
}
div.dokuwiki div#wiki__editbar div.summary {
   float: left;
}
div.dokuwiki .nowrap {
   white-space: nowrap;
}
div.dokuwiki div#draft__status {
  float: right;
  color: __text_alt__;
}
