/* basic elements */
* {
   /*
   border: solid 1px;
   */
}


.secedit {
   display: none;
}

h1 {
   display: none;
}

.toc {
  display: none;
}

.horizontalNavigation {
}


.horizontalNavigation h1,
.horizontalNavigation h2,
.horizontalNavigation h3,
.horizontalNavigation h4,
.horizontalNavigation h5,
.horizontalNavigation h6{
   display: none;
   /*
   */
}

.horizontalNavigation ul{
   /*
   padding: 3px 0;
   margin-left: 0;
   border-bottom: 1px solid;
   */
}
.horizontalNavigation li{
   list-style: none;
   display: inline;
   /*
   margin: 0;
   */
}
.horizontalNavigation  a {
   border-right: 1px solid __border__;
   height: 1em;
   text-decoration: none;
   color: __border__;
   padding-right: 0.7em;
}


.horizontalNavigation  a.lastNavItem {
   border-right: none;
}




div.clearer {
   clear: both;
}
