/* -------------------------- BEGIN do not change --------------------------- */

ul.verticalNavigation
{
    list-style: none;
    margin:0;
    padding:0;
    width:100%;
    z-index:99;
}

ul.verticalNavigation * ul
{
    list-style: none;
    margin:0;
    padding: 0;
        display:none;
        position:absolute;
        z-index:99;
        width:20em;
}

ul.verticalNavigation li
{
    float:left;
}

ul.verticalNavigation li * li
{
    border:1px solid #fff;
    float:none;

    position: relative;
}

ul.verticalNavigation ul * ul
{
    left:98%;
    top:0;

}

ul.verticalNavigation a
{
    display:block;

}

ul.verticalNavigation ul * a
{
    height:100%;
}

ul.verticalNavigation li:hover ul ul, ul.verticalNavigation li:hover ul ul ul, ul.verticalNavigation li:hover ul ul ul ul
{
    display:none;
}

ul.verticalNavigation li:hover ul, ul.verticalNavigation ul li:hover ul, ul.verticalNavigation ul ul li:hover ul
{
    display:block;
}


/* -------------------------- END do not change --------------------------- */

