/*Some other dokuwiki specific settings*/
a.fn_top {
  vertical-align: super;
  font-size: 80%;
}

div.fn {
   background-color: inherit;
   color: grey;
   font-size: x-small;
   margin-left: 0.5em;
}


/* ================================= Class: Small, grey list================================= */
.smallGreyListText,
.smallGreyListText 
.smallGreyListText 
.smallGreyListText div.li,
.smallGreyListText ul,
.smallGreyListText ul li,
.smallGreyListText ul li a,
.smallGreyListText .level1 .li,
.smallGreyListText div.secedit2 a {
   background-color: inherit;
   color: grey;
   font-size: x-small;
   margin-left: 0.5em;
}


